<html>
  <head>
    <title>$i18n.getText("xproduct.admin.label")</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.atlassian.plugins.tutorial.xproduct:resources")
  </head>
  
  <body>
    <form id="admin" class="aui" action="${req.contextPath}/secure/FirstNewAction.jspa">
      <div class="field-group">
        <label for="name">$i18n.getText("xproduct.admin.name.label")</label>
        <input type="text" id="name" name="name" class="text">
      </div>
      <div class="field-group">
        <label for="age">$i18n.getText("xproduct.admin.age.label")</label>
        <input type="text" id="age" name="age" class="text">
      </div>
      <div class="field-group">
        <input type="submit" value="$i18n.getText("xproduct.admin.save.label")" class="button">
      </div>
      
      <div>
      	 ## If an input view exists for an action, then the input view
	      ## rather than an error view is used
	
	      #if (${hasErrorMessages})
	      <table>
	        <tr>
	          <td>Error Messages</td>
	        </tr>
	        #foreach ($error in $action.getErrorMessages())
	        <tr>
	          <td>$i18n.getText("${error}")</td>
	        </tr>
	        #end    
	      </table>
	      #end
      </div>
      
    </form>
  </body>
</html>